*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: url('../photo/informatique-multi-site.webp') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
:root{
    --primary-color: #fff;
    --toggler-color: black;
}
hr{
    background-color:white;
}

